body {
  padding-top: 70px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}

.table-borderless td,
.table-borderless th {
    border: 0 !important;
}

.table th.number, .table td.number {
  text-align: right;
}

.upColor {
	color: red;
}

.downColor {
	color: green;	
}

.normalColor {
		
}
